@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(#000000 0.5px, transparent 0.1px);
  background-size: 20px 19px;
  background-position: -20px -20px;
}

code {
  color: #000003;
  background-color:  #ffbb7725;
  border-radius: 0.5em;
  border-width: 0.15em;
  font-family: monospace;
  transition: all 0.1s ease-in-out;
}

pre code {
  display: block;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  padding: 1em;
}

blockquote {
  font-size: 1.15em;
  color: #000003;
  background-color: rgba(0, 150, 230, 0.15);
  border-radius: 1em;
  padding: 1.05em;
  border: 1px solid #428bca33;
  font-weight: 500;
}

blockquote code {
  background-color: rgba(255, 55, 0, 0.5);
  color: rgba(0, 0, 50, 1);
  font-weight: 600;
  padding: 0.1rem;
  border: 0.18rem solid black;
  margin: 0.15rem;
}

blockquote p {
  background-color: transparent;
  padding-left: 3.5em;
}

blockquote::before {
  content: "(~￣<￣)~";
  display: block;
  font-weight: 600;
  font-size: 1.3em;
  top: 1.7em;
  right: 6em;
  position: relative;
  height: 0;
  color: #f55;
}

blockquote::after {
  content: "Bud:";
  display: block;
  font-weight: 500;
  font-family: monospace;
  font-size: 1.2rem;
  top: -5rem;
  right: -0.1rem;
  position: relative;
  height: 0;
  color: #f55;
}

article {
  background-color: rgba(255,255,255,0.8);
}

article h1,h2,h3,h4,p {
  background-color: rgba(255,255,255,0.9);
  padding: 0.3em;
}

article a {
  color: blue;
  font-weight: 900;
  font-family: sans-serif;
  background: rgba(0,0,255,0.03);
  border-radius: 2em;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.2em;
  transition: 0.1s all ease-in-out;
}


article a:hover {
  margin: 0.4em 0.3em 0.4em 0.3em;
  padding: 0.5em 0.3em 0.5em 0.3em;
  font-family: 900;
  border: 1px solid blue;
  filter: drop-shadow(0 0 1rem rgba(255,100,0,0.2));
}
article img {
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0 0 1rem rgba(255,50,0,0.2));
}
article img:hover {
  filter: drop-shadow(0 0 2rem rgba(255,75,50,0.7));
}

@media only screen and (max-width: 1000px) {
  article blockquote {
    padding-top: 1.5em;
  }
  blockquote p {
    padding-left: 1rem;
    padding: 0.8em;
    padding-top: 0.5rem;
  }
  blockquote::before {
    display: block;
    font-size: 1rem;
    top: -0.2rem;
    right: 0.2rem;
    position: relative;
    height: 0;
    color: #f55;
  }
  blockquote::after {
    top: -1.55rem;
    right: 0rem;
    padding-left: 0.1em;
    position: relative;
    height: 0;
    color: #f55;
  }
}
