@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(#888888 0.5px, transparent 0.5px);
  background-size: 20px 19px;
  background-position: -20px -20px;
}

article a {
  color: #fe7734;
  font-weight: 900;
  font-family: sans-serif;
  background: #febeef23;
  border-radius: 2em;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.2em;
  transition: 0.25s all ease-in-out;
}


article a:hover {
  margin: 0.3em;
  padding: 0.3em;
  font-family: 900;
  box-shadow: #fe7734 0rem 0.2rem;
  border: 0.1rem solid;
  filter: drop-shadow(0 0 1rem #fe773477);
}

article img {
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0 0 1rem rgba(255,50,0,0.2));
}

article img:hover {
  filter: drop-shadow(0 0 2rem rgba(255,75,50,0.7));
}
